body {
margin: 20px 50px;
background-color: #F0F0F0;
}

p {
line-height: 1.2;
text-align: justify;
margin-bottom: 20px;
}

.paragrafo-de-artigo {
    background-color: #051367;
    color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    margin: 0;
}
.paragrafo-de-artigo + p {
    padding-top: 0;
}


.titulo-de-pagina { 
    color: #051367;
    line-height: 2;
    font-weight: bold;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-de-artigo { 
    color: #2D31FA;
    line-height: 1.5;
    font-weight: bold;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitulo-de-pagina {
    color:rgb(230, 100, 100);
    line-height: 1.5;
    font-weight: bold;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}


.titulo-de-secao {
    color:rgb(228, 51, 228);
    line-height: 1.5;
    font-weight: bold;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
}

.autor-do-artigo {
    color: #5D8BF4;
    font-weight: bold;
    font-style: italic;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}